SirenaSoapClient/Service References/SirenaGateServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sirena" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sirena" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
  <xs:simpleType name="ConnectionMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Zipped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Symmetric">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Assymmetric">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Plain">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConnectionMode" nillable="true" type="tns:ConnectionMode" />
  <xs:complexType name="KeyInfoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmQuery" nillable="true" type="tns:KeyInfoConfirmQuery" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeyInfoRequest" nillable="true" type="tns:KeyInfoRequest" />
  <xs:complexType name="DtoRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DtoRequest" nillable="true" type="tns:DtoRequest" />
  <xs:complexType name="KeyInfoConfirmQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Params" nillable="true" type="tns:KeyInfoConfirmQueryParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyInfoConfirmQuery" nillable="true" type="tns:KeyInfoConfirmQuery" />
  <xs:complexType name="KeyInfoConfirmQueryParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmAnswerParams" nillable="true" type="tns:KeyInfoConfirmAnswerParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyInfoConfirmQueryParams" nillable="true" type="tns:KeyInfoConfirmQueryParams" />
  <xs:complexType name="KeyInfoConfirmAnswerParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageParams" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyInfoConfirmAnswerParams" nillable="true" type="tns:KeyInfoConfirmAnswerParams" />
  <xs:complexType name="KeyInfoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmAnswer" nillable="true" type="tns:KeyConfirmAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeyInfoResponse" nillable="true" type="tns:KeyInfoResponse" />
  <xs:complexType name="DtoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DtoResponse" nillable="true" type="tns:DtoResponse" />
  <xs:complexType name="KeyConfirmAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:KeyConfirmAnswerBody" />
      <xs:element minOccurs="0" name="Pult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyConfirmAnswer" nillable="true" type="tns:KeyConfirmAnswer" />
  <xs:complexType name="KeyConfirmAnswerBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:Info" />
      <xs:element minOccurs="0" name="KeyManager" nillable="true" type="tns:KeyManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyConfirmAnswerBody" nillable="true" type="tns:KeyConfirmAnswerBody" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element minOccurs="0" name="Warnings" nillable="true" type="tns:ArrayOfWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
  <xs:complexType name="ArrayOfWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Warning" nillable="true" type="tns:Warning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarning" nillable="true" type="tns:ArrayOfWarning" />
  <xs:complexType name="Warning">
    <xs:sequence>
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Warning" nillable="true" type="tns:Warning" />
  <xs:complexType name="KeyManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expiration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyDigest" nillable="true" type="tns:KeyDigest" />
      <xs:element minOccurs="0" name="ServerPublicKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unconfirmed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyManager" nillable="true" type="tns:KeyManager" />
  <xs:complexType name="KeyDigest">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeyState" type="tns:KeyState" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyDigest" nillable="true" type="tns:KeyDigest" />
  <xs:simpleType name="KeyState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Current" />
      <xs:enumeration value="Future" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="KeyState" nillable="true" type="tns:KeyState" />
  <xs:complexType name="ScheduleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmQuery" nillable="true" type="tns:ScheduleConfirmQuery" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleRequest" nillable="true" type="tns:ScheduleRequest" />
  <xs:complexType name="ScheduleConfirmQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Params" nillable="true" type="tns:ScheduleConfirmQueryParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleConfirmQuery" nillable="true" type="tns:ScheduleConfirmQuery" />
  <xs:complexType name="ScheduleConfirmQueryParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmAnswerParams" nillable="true" type="tns:ScheduleConfirmAnswerParams" />
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlyDirect" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProxyDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyEndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTimeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTimeTill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestParams" nillable="true" type="tns:ScheduleRequestParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleConfirmQueryParams" nillable="true" type="tns:ScheduleConfirmQueryParams" />
  <xs:complexType name="ScheduleConfirmAnswerParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarkCityPort" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowEt" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowFlightTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleConfirmAnswerParams" nillable="true" type="tns:ScheduleConfirmAnswerParams" />
  <xs:complexType name="ScheduleRequestParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="OnlyM2Joints" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleRequestParams" nillable="true" type="tns:ScheduleRequestParams" />
  <xs:complexType name="ScheduleResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmAnswer" nillable="true" type="tns:ScheduleAsnwer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScheduleResponse" nillable="true" type="tns:ScheduleResponse" />
  <xs:complexType name="ScheduleAsnwer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ScheduleConfirmAnswerBody" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleAsnwer" nillable="true" type="tns:ScheduleAsnwer" />
  <xs:complexType name="ScheduleConfirmAnswerBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="Flights" nillable="true" type="tns:ArrayOfScheduleFlight" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:Info" />
      <xs:element minOccurs="0" name="MultiSegmentFlights" nillable="true" type="tns:ArrayOfScheduleSegmentedFlight" />
      <xs:element minOccurs="0" name="ProxyDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleConfirmAnswerBody" nillable="true" type="tns:ScheduleConfirmAnswerBody" />
  <xs:complexType name="ArrayOfScheduleFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleFlight" nillable="true" type="tns:ScheduleFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleFlight" nillable="true" type="tns:ArrayOfScheduleFlight" />
  <xs:complexType name="ScheduleFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airplane" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" nillable="true" type="tns:ScheduleFlightTime" />
      <xs:element minOccurs="0" name="ClassInfo" nillable="true" type="tns:ScheduleFlightClassInfo" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="tns:ScheduleFlightTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Original" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="tns:ScheduleFlightPeriod" />
      <xs:element minOccurs="0" name="ProxyFlightTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyIsETicketPossible" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleFlight" nillable="true" type="tns:ScheduleFlight" />
  <xs:complexType name="ScheduleFlightTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProxyDayShift" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleFlightTime" nillable="true" type="tns:ScheduleFlightTime" />
  <xs:complexType name="ScheduleFlightClassInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BussinessAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="EconomyAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="FirstAvailable" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleFlightClassInfo" nillable="true" type="tns:ScheduleFlightClassInfo" />
  <xs:complexType name="ScheduleFlightPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Days" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyBeginDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyEndDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleFlightPeriod" nillable="true" type="tns:ScheduleFlightPeriod" />
  <xs:complexType name="ArrayOfScheduleSegmentedFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduleSegmentedFlight" nillable="true" type="tns:ScheduleSegmentedFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduleSegmentedFlight" nillable="true" type="tns:ArrayOfScheduleSegmentedFlight" />
  <xs:complexType name="ScheduleSegmentedFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightSegments" nillable="true" type="tns:ArrayOfScheduleFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduleSegmentedFlight" nillable="true" type="tns:ScheduleSegmentedFlight" />
  <xs:complexType name="AvailabilityRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmQuery" nillable="true" type="tns:AvailabilityConfirmQuery" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailabilityRequest" nillable="true" type="tns:AvailabilityRequest" />
  <xs:complexType name="AvailabilityConfirmQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Params" nillable="true" type="tns:AvailabilityConfirmQueryParamas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityConfirmQuery" nillable="true" type="tns:AvailabilityConfirmQuery" />
  <xs:complexType name="AvailabilityConfirmQueryParamas">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmAnswerParams" nillable="true" type="tns:AvailabilityConfirmAnswerParams" />
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Connections" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direct" type="xs:boolean" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTimeFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTimeTill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestParams" nillable="true" type="tns:AvailabilityRequestParams" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubClasses" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityConfirmQueryParamas" nillable="true" type="tns:AvailabilityConfirmQueryParamas" />
  <xs:complexType name="AvailabilityConfirmAnswerParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="MarkCityPort" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowBaseClass" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowEt" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowFlightTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityConfirmAnswerParams" nillable="true" type="tns:AvailabilityConfirmAnswerParams" />
  <xs:complexType name="AvailabilityRequestParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckTchRestrictions" type="xs:boolean" />
      <xs:element minOccurs="0" name="JointType" type="tns:JointType" />
      <xs:element minOccurs="0" name="UseDag" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseIak" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityRequestParams" nillable="true" type="tns:AvailabilityRequestParams" />
  <xs:simpleType name="JointType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Awk" />
      <xs:enumeration value="M2" />
      <xs:enumeration value="Interline" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JointType" nillable="true" type="tns:JointType" />
  <xs:complexType name="AvailabilityResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmAnswer" nillable="true" type="tns:AvailabilityConfirmAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailabilityResponse" nillable="true" type="tns:AvailabilityResponse" />
  <xs:complexType name="AvailabilityConfirmAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:AvailabilityConfirmAnswerBody" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityConfirmAnswer" nillable="true" type="tns:AvailabilityConfirmAnswer" />
  <xs:complexType name="AvailabilityConfirmAnswerBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="Flights" nillable="true" type="tns:ArrayOfAvailabilityFlight" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:Info" />
      <xs:element minOccurs="0" name="MultiSegmentFlights" nillable="true" type="tns:ArrayOfAvailabilitySegmentedFlight" />
      <xs:element minOccurs="0" name="ProxyDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityConfirmAnswerBody" nillable="true" type="tns:AvailabilityConfirmAnswerBody" />
  <xs:complexType name="ArrayOfAvailabilityFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailabilityFlight" nillable="true" type="tns:AvailabilityFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailabilityFlight" nillable="true" type="tns:ArrayOfAvailabilityFlight" />
  <xs:complexType name="AvailabilityFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airplane" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" nillable="true" type="tns:AvailabilityFlightTime" />
      <xs:element minOccurs="0" name="ClassInfo" nillable="true" type="tns:AvailabilityFlightClassInfo" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="tns:AvailabilityFlightTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntermediateStops" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OperatingCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Original" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalTerminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyDelay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyFlightTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyIntermediateStops" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyIsETicketPossible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubClasses" nillable="true" type="tns:ArrayOfAvailabilityFlightSubClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityFlight" nillable="true" type="tns:AvailabilityFlight" />
  <xs:complexType name="AvailabilityFlightTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProxyDayShift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityFlightTime" nillable="true" type="tns:AvailabilityFlightTime" />
  <xs:complexType name="AvailabilityFlightClassInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BussinessAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="EconomyAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="FirstAvailable" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityFlightClassInfo" nillable="true" type="tns:AvailabilityFlightClassInfo" />
  <xs:complexType name="ArrayOfAvailabilityFlightSubClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailabilityFlightSubClass" nillable="true" type="tns:AvailabilityFlightSubClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailabilityFlightSubClass" nillable="true" type="tns:ArrayOfAvailabilityFlightSubClass" />
  <xs:complexType name="AvailabilityFlightSubClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityFlightSubClass" nillable="true" type="tns:AvailabilityFlightSubClass" />
  <xs:complexType name="ArrayOfAvailabilitySegmentedFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailabilitySegmentedFlight" nillable="true" type="tns:AvailabilitySegmentedFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailabilitySegmentedFlight" nillable="true" type="tns:ArrayOfAvailabilitySegmentedFlight" />
  <xs:complexType name="AvailabilitySegmentedFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightSegments" nillable="true" type="tns:ArrayOfAvailabilityFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilitySegmentedFlight" nillable="true" type="tns:AvailabilitySegmentedFlight" />
  <xs:complexType name="FaresRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmQuery" nillable="true" type="tns:FaresConfirmQuery" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaresRequest" nillable="true" type="tns:FaresRequest" />
  <xs:complexType name="FaresConfirmQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Params" nillable="true" type="tns:FaresConfirmQueryParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresConfirmQuery" nillable="true" type="tns:FaresConfirmQuery" />
  <xs:complexType name="FaresConfirmQueryParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassengerCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyBookDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyDepartureTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestParams" nillable="true" type="tns:FaresRequestParams" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubClasses" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresConfirmQueryParams" nillable="true" type="tns:FaresConfirmQueryParams" />
  <xs:complexType name="FaresRequestParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="TicketSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TripFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresRequestParams" nillable="true" type="tns:FaresRequestParams" />
  <xs:complexType name="FaresResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmAnswer" nillable="true" type="tns:FaresConfirmAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaresResponse" nillable="true" type="tns:FaresResponse" />
  <xs:complexType name="FaresConfirmAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:FaresConfirmAnswerBody" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresConfirmAnswer" nillable="true" type="tns:FaresConfirmAnswer" />
  <xs:complexType name="FaresConfirmAnswerBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arrival" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="Fares" nillable="true" type="tns:ArrayOfFare" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:Info" />
      <xs:element minOccurs="0" name="PassengerCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyBookDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyDepartureTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresConfirmAnswerBody" nillable="true" type="tns:FaresConfirmAnswerBody" />
  <xs:complexType name="ArrayOfFare">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fare" nillable="true" type="tns:Fare" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFare" nillable="true" type="tns:ArrayOfFare" />
  <xs:complexType name="Fare">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyRates" nillable="true" type="tns:ArrayOfFaresCurrencyRate" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumStay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinimumStay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PassengerCategories" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="ProxyExpirationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubClasses" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Upt" nillable="true" type="tns:FaresUpt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fare" nillable="true" type="tns:Fare" />
  <xs:complexType name="ArrayOfFaresCurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaresCurrencyRate" nillable="true" type="tns:FaresCurrencyRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaresCurrencyRate" nillable="true" type="tns:ArrayOfFaresCurrencyRate" />
  <xs:complexType name="FaresCurrencyRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresCurrencyRate" nillable="true" type="tns:FaresCurrencyRate" />
  <xs:complexType name="FaresUpt">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Xml.Linq" minOccurs="0" name="CustomElements" nillable="true" type="q5:ArrayOfXElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaresUpt" nillable="true" type="tns:FaresUpt" />
  <xs:complexType name="FareremarkRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmQuery" nillable="true" type="tns:FareremarkConfirmQuery" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FareremarkRequest" nillable="true" type="tns:FareremarkRequest" />
  <xs:complexType name="FareremarkConfirmQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Params" nillable="true" type="tns:FareremarkConfirmQueryParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkConfirmQuery" nillable="true" type="tns:FareremarkConfirmQuery" />
  <xs:complexType name="FareremarkConfirmQueryParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmAnswerParams" nillable="true" type="tns:FareremarkConfirmAnswerParams" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestParams" nillable="true" type="tns:FareremarkRequestParams" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkConfirmQueryParams" nillable="true" type="tns:FareremarkConfirmQueryParams" />
  <xs:complexType name="FareremarkConfirmAnswerParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkConfirmAnswerParams" nillable="true" type="tns:FareremarkConfirmAnswerParams" />
  <xs:complexType name="FareremarkRequestParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatSixteen" type="xs:boolean" />
      <xs:element minOccurs="0" name="Upt" nillable="true" type="tns:FaresUpt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkRequestParams" nillable="true" type="tns:FareremarkRequestParams" />
  <xs:complexType name="FareremarkResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DtoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmAnswer" nillable="true" type="tns:FareremarkConfirmAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FareremarkResponse" nillable="true" type="tns:FareremarkResponse" />
  <xs:complexType name="FareremarkConfirmAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:FareremarkConfirmAnswerBody" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkConfirmAnswer" nillable="true" type="tns:FareremarkConfirmAnswer" />
  <xs:complexType name="FareremarkConfirmAnswerBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:Error" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:Info" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="tns:FareremarkRemark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkConfirmAnswerBody" nillable="true" type="tns:FareremarkConfirmAnswerBody" />
  <xs:complexType name="FareremarkRemark">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProxyNewFare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareremarkRemark" nillable="true" type="tns:FareremarkRemark" />
</xs:schema>