SirenaSoapClient/Service References/SirenaGateServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sirena" />
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Sirena.Dto.Requests" />
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Sirena.Dto.Responses" />
  <xs:element name="SendStringRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="connectionMode" type="q1:ConnectionMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStringRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendStringRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="connectionMode" type="q2:ConnectionMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StringRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="keyInfoRequest" nillable="true" type="q3:KeyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyInfoRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="KeyInfoRequestResult" nillable="true" type="q4:KeyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendKeyInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="keyInfoRequest" nillable="true" type="q5:KeyInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendKeyInfoRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="SendKeyInfoRequestResult" nillable="true" type="q6:KeyInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="scheduleRequest" nillable="true" type="q7:ScheduleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="ScheduleRequestResult" nillable="true" type="q8:ScheduleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendScheduleRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="scheduleRequest" nillable="true" type="q9:ScheduleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendScheduleRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="SendScheduleRequestResult" nillable="true" type="q10:ScheduleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailabilityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="availabilityRequest" nillable="true" type="q11:AvailabilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailabilityRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="AvailabilityRequestResult" nillable="true" type="q12:AvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAvailabilityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="availabilityRequest" nillable="true" type="q13:AvailabilityRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAvailabilityRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="SendAvailabilityRequestResult" nillable="true" type="q14:AvailabilityResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaresRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="faresRequest" nillable="true" type="q15:FaresRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaresRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="FaresRequestResult" nillable="true" type="q16:FaresResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFaresRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="faresRequest" nillable="true" type="q17:FaresRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFaresRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="SendFaresRequestResult" nillable="true" type="q18:FaresResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareremarkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="fareremarkRequest" nillable="true" type="q19:FareremarkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FareremarkRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="FareremarkRequestResult" nillable="true" type="q20:FareremarkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFareremarkRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="fareremarkRequest" nillable="true" type="q21:FareremarkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFareremarkRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="SendFareremarkRequestResult" nillable="true" type="q22:FareremarkResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Sirena.Dto.Requests" minOccurs="0" name="pricingRequest" nillable="true" type="q23:PricingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PricingRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Sirena.Dto.Responses" minOccurs="0" name="PricingRequestResult" nillable="true" type="q24:PricingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPricingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Sirena.Dto.Requests" minOccurs="0" name="pricingRequest" nillable="true" type="q25:PricingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPricingRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Sirena.Dto.Responses" minOccurs="0" name="SendPricingRequestResult" nillable="true" type="q26:PricingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>