SirenaSoapClient/Service References/SirenaGateServiceReference/item51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sirena.Dto.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sirena.Dto.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sirena" />
  <xs:complexType name="PricingResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sirena" base="q1:DtoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmAnswer" nillable="true" type="tns:PricingConfirmAnswer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricingResponse" nillable="true" type="tns:PricingResponse" />
  <xs:complexType name="PricingConfirmAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:PricingConfirmAnswerBody" />
      <xs:element minOccurs="0" name="Instance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingConfirmAnswer" nillable="true" type="tns:PricingConfirmAnswer" />
  <xs:complexType name="PricingConfirmAnswerBody">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="Error" nillable="true" type="q2:Error" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sirena" minOccurs="0" name="Info" nillable="true" type="q3:Info" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Variant" nillable="true" type="tns:PricingVariant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingConfirmAnswerBody" nillable="true" type="tns:PricingConfirmAnswerBody" />
  <xs:complexType name="PricingVariant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flights" nillable="true" type="tns:ArrayOfPricingFlight" />
      <xs:element minOccurs="0" name="Seance" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingVariant" nillable="true" type="tns:PricingVariant" />
  <xs:complexType name="ArrayOfPricingFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricingFlight" nillable="true" type="tns:PricingFlight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricingFlight" nillable="true" type="tns:ArrayOfPricingFlight" />
  <xs:complexType name="PricingFlight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airplane" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrvDate" nillable="true" type="tns:ArrvDate" />
      <xs:element minOccurs="0" name="ArrvTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptDate" nillable="true" type="tns:DeptDate" />
      <xs:element minOccurs="0" name="DeptTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="tns:Destination" />
      <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Original" nillable="true" type="tns:Origin" />
      <xs:element minOccurs="0" name="SubClass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingFlight" nillable="true" type="tns:PricingFlight" />
  <xs:complexType name="ArrvDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrvDate" nillable="true" type="tns:ArrvDate" />
  <xs:complexType name="DeptDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeptDate" nillable="true" type="tns:DeptDate" />
  <xs:complexType name="Destination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Destination" nillable="true" type="tns:Destination" />
  <xs:complexType name="Origin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Origin" nillable="true" type="tns:Origin" />
</xs:schema>