SirenaSoapClient/Service References/SirenaGateServiceReference/SirenaGateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SirenaGateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sirena" />
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Xml.Linq" />
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Sirena.Dto.Requests" />
      <xsd:import schemaLocation="http://localhost:8833/SirenaGateService/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Sirena.Dto.Responses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISirenaGateService_SendStringRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStringRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendStringRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStringRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_StringRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:StringRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_StringRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:StringRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_KeyInfoRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:KeyInfoRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_KeyInfoRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeyInfoRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendKeyInfoRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendKeyInfoRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendKeyInfoRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendKeyInfoRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_ScheduleRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_ScheduleRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScheduleRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendScheduleRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendScheduleRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendScheduleRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendScheduleRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_AvailabilityRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_AvailabilityRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendAvailabilityRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAvailabilityRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendAvailabilityRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAvailabilityRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_FaresRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:FaresRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_FaresRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:FaresRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendFaresRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFaresRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendFaresRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFaresRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_FareremarkRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:FareremarkRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_FareremarkRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:FareremarkRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendFareremarkRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFareremarkRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendFareremarkRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFareremarkRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_PricingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PricingRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_PricingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PricingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendPricingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPricingRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendPricingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPricingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_BookingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_BookingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendBookingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBookingRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendBookingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBookingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_BookingCancelRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:BookingCancelRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_BookingCancelRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookingCancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendBookingCancelRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBookingCancelRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendBookingCancelRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBookingCancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SellingQueryRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SellingQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SellingQueryRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellingQueryRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendSellingQueryRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSellingQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendSellingQueryRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSellingQueryRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_PaymentExtAuthConfirmRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentExtAuthConfirmRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_PaymentExtAuthConfirmRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentExtAuthConfirmRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendPaymentExtAuthConfirmRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPaymentExtAuthConfirmRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendPaymentExtAuthConfirmRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPaymentExtAuthConfirmRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_PaymentExtAuthQueryRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentExtAuthQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_PaymentExtAuthQueryRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentExtAuthQueryRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendPaymentExtAuthQueryRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPaymentExtAuthQueryRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendPaymentExtAuthQueryRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPaymentExtAuthQueryRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_GetInitReceiptsRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitReceiptsRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_GetInitReceiptsRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitReceiptsRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendGetInitReceiptsRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGetInitReceiptsRequest" />
  </wsdl:message>
  <wsdl:message name="ISirenaGateService_SendGetInitReceiptsRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGetInitReceiptsRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ISirenaGateService">
    <wsdl:operation name="SendStringRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendStringRequest" message="tns:ISirenaGateService_SendStringRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendStringRequestResponse" message="tns:ISirenaGateService_SendStringRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StringRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/StringRequest" message="tns:ISirenaGateService_StringRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/StringRequestResponse" message="tns:ISirenaGateService_StringRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeyInfoRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/KeyInfoRequest" message="tns:ISirenaGateService_KeyInfoRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/KeyInfoRequestResponse" message="tns:ISirenaGateService_KeyInfoRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendKeyInfoRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendKeyInfoRequest" message="tns:ISirenaGateService_SendKeyInfoRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendKeyInfoRequestResponse" message="tns:ISirenaGateService_SendKeyInfoRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScheduleRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/ScheduleRequest" message="tns:ISirenaGateService_ScheduleRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/ScheduleRequestResponse" message="tns:ISirenaGateService_ScheduleRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendScheduleRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendScheduleRequest" message="tns:ISirenaGateService_SendScheduleRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendScheduleRequestResponse" message="tns:ISirenaGateService_SendScheduleRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AvailabilityRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/AvailabilityRequest" message="tns:ISirenaGateService_AvailabilityRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/AvailabilityRequestResponse" message="tns:ISirenaGateService_AvailabilityRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAvailabilityRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendAvailabilityRequest" message="tns:ISirenaGateService_SendAvailabilityRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendAvailabilityRequestResponse" message="tns:ISirenaGateService_SendAvailabilityRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FaresRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/FaresRequest" message="tns:ISirenaGateService_FaresRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/FaresRequestResponse" message="tns:ISirenaGateService_FaresRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFaresRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendFaresRequest" message="tns:ISirenaGateService_SendFaresRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendFaresRequestResponse" message="tns:ISirenaGateService_SendFaresRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FareremarkRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/FareremarkRequest" message="tns:ISirenaGateService_FareremarkRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/FareremarkRequestResponse" message="tns:ISirenaGateService_FareremarkRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFareremarkRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendFareremarkRequest" message="tns:ISirenaGateService_SendFareremarkRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendFareremarkRequestResponse" message="tns:ISirenaGateService_SendFareremarkRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PricingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/PricingRequest" message="tns:ISirenaGateService_PricingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/PricingRequestResponse" message="tns:ISirenaGateService_PricingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPricingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendPricingRequest" message="tns:ISirenaGateService_SendPricingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendPricingRequestResponse" message="tns:ISirenaGateService_SendPricingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/BookingRequest" message="tns:ISirenaGateService_BookingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/BookingRequestResponse" message="tns:ISirenaGateService_BookingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBookingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendBookingRequest" message="tns:ISirenaGateService_SendBookingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendBookingRequestResponse" message="tns:ISirenaGateService_SendBookingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookingCancelRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/BookingCancelRequest" message="tns:ISirenaGateService_BookingCancelRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/BookingCancelRequestResponse" message="tns:ISirenaGateService_BookingCancelRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBookingCancelRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendBookingCancelRequest" message="tns:ISirenaGateService_SendBookingCancelRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendBookingCancelRequestResponse" message="tns:ISirenaGateService_SendBookingCancelRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellingQueryRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SellingQueryRequest" message="tns:ISirenaGateService_SellingQueryRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SellingQueryRequestResponse" message="tns:ISirenaGateService_SellingQueryRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSellingQueryRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendSellingQueryRequest" message="tns:ISirenaGateService_SendSellingQueryRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendSellingQueryRequestResponse" message="tns:ISirenaGateService_SendSellingQueryRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentExtAuthConfirmRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/PaymentExtAuthConfirmRequest" message="tns:ISirenaGateService_PaymentExtAuthConfirmRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/PaymentExtAuthConfirmRequestResponse" message="tns:ISirenaGateService_PaymentExtAuthConfirmRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPaymentExtAuthConfirmRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendPaymentExtAuthConfirmRequest" message="tns:ISirenaGateService_SendPaymentExtAuthConfirmRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendPaymentExtAuthConfirmRequestResponse" message="tns:ISirenaGateService_SendPaymentExtAuthConfirmRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentExtAuthQueryRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/PaymentExtAuthQueryRequest" message="tns:ISirenaGateService_PaymentExtAuthQueryRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/PaymentExtAuthQueryRequestResponse" message="tns:ISirenaGateService_PaymentExtAuthQueryRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPaymentExtAuthQueryRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendPaymentExtAuthQueryRequest" message="tns:ISirenaGateService_SendPaymentExtAuthQueryRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendPaymentExtAuthQueryRequestResponse" message="tns:ISirenaGateService_SendPaymentExtAuthQueryRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInitReceiptsRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/GetInitReceiptsRequest" message="tns:ISirenaGateService_GetInitReceiptsRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/GetInitReceiptsRequestResponse" message="tns:ISirenaGateService_GetInitReceiptsRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGetInitReceiptsRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISirenaGateService/SendGetInitReceiptsRequest" message="tns:ISirenaGateService_SendGetInitReceiptsRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISirenaGateService/SendGetInitReceiptsRequestResponse" message="tns:ISirenaGateService_SendGetInitReceiptsRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISirenaGateService" type="tns:ISirenaGateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendStringRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendStringRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/StringRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeyInfoRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/KeyInfoRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendKeyInfoRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendKeyInfoRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScheduleRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/ScheduleRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendScheduleRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendScheduleRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailabilityRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/AvailabilityRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAvailabilityRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendAvailabilityRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaresRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/FaresRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFaresRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendFaresRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FareremarkRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/FareremarkRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFareremarkRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendFareremarkRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/PricingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPricingRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendPricingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/BookingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBookingRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendBookingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookingCancelRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/BookingCancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBookingCancelRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendBookingCancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellingQueryRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SellingQueryRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSellingQueryRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendSellingQueryRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentExtAuthConfirmRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/PaymentExtAuthConfirmRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPaymentExtAuthConfirmRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendPaymentExtAuthConfirmRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentExtAuthQueryRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/PaymentExtAuthQueryRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPaymentExtAuthQueryRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendPaymentExtAuthQueryRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInitReceiptsRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/GetInitReceiptsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGetInitReceiptsRequest">
      <soap:operation soapAction="http://tempuri.org/ISirenaGateService/SendGetInitReceiptsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SirenaGateService">
    <wsdl:port name="BasicHttpBinding_ISirenaGateService" binding="tns:BasicHttpBinding_ISirenaGateService">
      <soap:address location="http://localhost:8833/SirenaGateService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>